.page-section {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  @mixin atMedium {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
  
  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }

  &--testimonials {
    background-color: $secondaryBlue;

    @mixin atLarge {
      &.lazyloaded {
        background: url("../../assets/images/testimonials-bg.jpg") no-repeat center;
        background-size: cover;
      }
    }
  }
}